html, body {
    height: 100%;
    width: 100%;
    background-color: aqua;
  }
  #powers{
    background-color: #adc5db;
    width: 20rem;
    height: 15rem;
    padding: 10px;
  }
#heroimage{
    width:fit-content;
    height: fit-content;
    padding: 10px;
}  
button{
    padding: 5px;
    margin: 2px;
    border-radius: 2px;
}
#searchDiv{
    padding: 5px;
    margin: 2px;
}